@main("Welcome to Play") {
<body>
  <script> 
  var myFuntion (value)
{

  alert(value);
}
  </script>

<form  method='get' action='' id='#form' onsubmit="myFunction(document.getElementById('size').value)">
        
<select id='size' label='size' text='zama'> 
  <option value='XS'>XS</option>
  <option value='S'>S</option>
  <option value='M'>M</option>
  <option value='L'>L</option>
  <option value='XL'>XL</option>
  <option value='XXL'>XXL</option>

</select>
                       
       
<select id="item" text="select your item">
    select the type of items:
  <option value="Shirt">Shirt</option>
  <option value="Teeshirt">Tee-Shirt</option>
  <option value="Pants">Pants</option>
  <option value="bra">Bra</option>
  <option value="shoes">SHOES</option>
  <option value="Tie">Tie</option>
  <option value="Purse">Purse</option>
  <option value="Cardigan">Cardigan</option>

 <input type='submit' id='submit' onclick="alert('script is here')"/>

</select>
        
</form>
</body>
}